// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login_box {
	background-color: teal;
	color: white;
	padding: 10px;
	border-radius: 20px;
	width: 270px;
	margin: auto;
	margin-top: 200px;
	text-align: center;
}